input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 70px;
}
.navbar-default {
    background-color: #428BCA;
    border-color: white;
}

/* title */
.navbar-default .navbar-brand {
    color: #f5fff5;
}



table td {
    border-top: none !important;
}

.glyphicon-cog{
    cursor:pointer;
}
.abc{
    padding-top: 10px;
}

.glyphicon-plus{
    color: white;
    cursor: hand;
}
.glyphicon-ok
{
    color:white;
    cursor: pointer;
}
.dow{
    padding-top:5px;
    padding-bottom: 10px;
}
.glyphicon-user{
    color: white;cursor: hand;
}
.glyphicon-chevron-left{
    color: white;cursor: hand;


}
.navbar-header{
        width: 100%;
    }



.center-me{
    text-align: center
}

li.borderless {
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 0 none;

}


.jga-toolbar {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.7;
}

.styler-three{
    text-align: center; width: 100%;
}

