input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 50px;
    padding-bottom: 70px;
}
.navbar-default {
    background-color: #6bc1ff;
    border-color: #E7E7E7;
}

/* title */
.navbar-default .navbar-brand {
    color: #f5fff5;
}

table td {
    border-top: none !important;
}

.glyphicon-cog{
    margin-right: -50px;


}
.abc{
    padding-top: 10px;
}

.glyphicon-plus{
    color: white;
}
.glyphicon-ok
{
    color:white;
}
.dow{
    padding-top:5px;
    padding-bottom: 10px;
}
.glyphicon-user{
    color: white;
}
.glyphicon-chevron-left{
    color: white;
}
.navbar-header{
    width: 100%;
}