.navbar-default {
    background-color: #428BCA;
    border-color: white;
}


.navbar-default .navbar-brand {
    color: #f5fff5;
}

body {
    padding-top: 60px;
    padding-bottom: 70px;}

.glyphicon-chevron-left{
    color: white;
}
.glyphicon-plus{
    color: white;}
.glyphicon-ok{
    color:white;
}


li.borderless {
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 0 none;

}

.glyphicon-user{
    color:white;
}

.border{
   border-right: solid;
    border-width: 1px;
}

.a-setting{
    margin-left: 0px;
}

.b-setting{
    margin-right: 30px

}
.c-setting{

    margin-left: 0px;
}
.d-setting{
    margin-right: 0px;
}
.styler-one{
    overflow-y: scroll;top: 0px;bottom: 0px;position: absolute;left: 0px;margin-top: 50px;padding-top: 15px;margin-bottom: 50px;
}
.styler-two{
    overflow-y: scroll;top: 0px;bottom: 0px;position: absolute;left: 0px;margin-top: 50px;padding-top: 15px;margin-bottom: 50px
}

.styler-four{
    overflow-y: scroll;top: 0px;bottom: 0px;position: absolute;left: 0px;margin-top: 50px;padding-top: 15px;margin-bottom: 50px;
}

.styler-five{
    overflow-y: scroll;top: 0px;bottom: 0px;position: absolute;left: 0px;margin-top: 50px;padding-top: 15px;margin-bottom: 50px;
}