<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="../user/profile.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="website-new.html">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <a class="navbar-brand" href="">Widget Editor</a>
    </div>
</nav>


<ng-include src="model.getEditorTemplateUrl(model.widget.type)"></ng-include>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href ng-click="model.gotoProfile()" class="">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
