
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid ">

        <div class = "navbar-header">
            <div class="navbar-text pull-left">
                <a ng-click="model.goBackToList()">
                <span class="glyphicon glyphicon-chevron-left">
            </span>
                </a>
            </div>
            <a class = "navbar-brand">Choose Widget</a>

        </div>

    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <a ng-click="model.createHeaderWidget()" style="cursor: pointer;">
        <li class="list-group-item borderless">Header
        </a>
        </li>

        <a ng-click="model.createImageWidget()" style="cursor: pointer;">
        <li class="list-group-item borderless">Image

        </li></a>

        <a ng-click="model.createYoutubeWidget()" style="cursor: pointer;">
        <li class="list-group-item borderless">Youtube

        </li>
        </a>

    </ul>


</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a ng-click="model.gotoProfile()" style="cursor: pointer;" class="">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
